:root {
    font-family: Inika, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --main-color: black;
    --sub-color: #202020;
    --accent-color: #A61BA7;
}

/* Fonts  */
@font-face {
    font-family: 'Inika';
    src: url('../fonts/Inika/Inika-Regular.woff2') format('woff2'),
    url('../fonts/Inika/Inika-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Inika';
    src: url('../fonts/Inika/Inika-Bold.woff2') format('woff2'),
    url('../fonts/Inika/Inika-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}